body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #414141;
}
.main, form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    background-color: aqua;
    border-radius: 10px;
    padding: 30px 60px;
    gap: 20px;
}
label{
    font-size: 18px;
    font-weight: 800;
}
#submitbtn{
    color: white;
    background-color: blue;
    padding: 3px ;
    font-weight: 700;
    font-size: 18px;
    border: none;

}
