* {
  padding: 0px;
  margin: 0px;
  font-family: Roboto,'Courier New', Courier, monospace;
}
button {
  padding: 10px 20px;
  background-color: #5756b3;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-weight: 200;
}
header {
  height: 15vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: -100px;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 60px;
}
nav img {
  height: 50px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
nav ul li {
  list-style: none;
  font-weight: 600;
}

main {
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-left: 70px;
}

.mainleft h1{
    font-size: 70px;
    font-weight: 800;
    margin-bottom: 20px;
}
.mainleft h1 span{
    color: #5756b3;
}
.mainleft p{
    font-weight: 300;
    margin-bottom: 40px;
   
}


.mainright img{
    width: 700px;
    height: 600px;
    margin-right: 180px;
}